ul {
	list-style-type: none;
	margin: 14;
	padding: 14;
	background-color: grey; 
	overflow: hidden;
}
li {
	display: black;
	float: left;
	padding: 14px;
}
li a {
	color: white;
	text-decoration: none;
}

.active {
	background-color: yellow;
}